<!DOCTYPE html>
<html>
    <%- include('partials/head') %>
    <body>

        <%- include('partials/header') %>
        
        <main class="main-index">
            <section class="last-visit">
                <h3>Basado en tu última visita</h3><br>
                <div class="products">
                    
                    <article>
                        <a href="/ProductDetail">
                        <img src="images/js.jpg" alt="Cafetera" class="product_img">
                        <div class="main-article">
                            <h4 class="title">Java Script</h4>
                            <p class="price">$230.000</p>
                        </div>      
                        </a>                  
                    </article><br>

                    <article>
                        <img src="images/php.png" alt="php" class="product_img">
                        <div class="main-article">
                            <h4 class="title">PHP</h4>
                            <p class="price">$230.000</p>
                        </div>                        
                    </article><br>

                    <article>
                        <img src="images/html.png" alt="HTML" class="product_img">
                        <div class="main-article">
                            <h4 class="title">HTML</h4>
                            <p class="price">$230.000</p>
                        </div>                        
                    </article> <br>

                    <article>
                        <img src="images/css.jpg" alt="CSS" class="product_img">
                        <div class="main-article">
                            <h4 class="title">CSS</h4>
                            <p class="price">$230.000</p>
                        </div>                        
                    </article>
                </div>
            </section>

            <section class="last-visit">
                <h3>Lo más nuevo</h3><br>
                <div class="products">
                    
                    <article >
                        <img src="images/js.jpg" alt="Cafetera" class="product_img">
                        <div class="main-article">
                            <h4 class="title">Java Script</h4>
                            <p class="price">$230.000</p>
                        </div>                        
                    </article><br>

                    <article>
                        <img src="images/php.png" alt="php" class="product_img">
                        <div class="main-article">
                            <h4 class="title">PHP</h4>
                            <p class="price">$230.000</p>
                        </div>                        
                    </article><br>

                    <article>
                        <img src="images/html.png" alt="HTML" class="product_img">
                        <div class="main-article">
                            <h4 class="title">HTML</h4>
                            <p class="price">$230.000</p>
                        </div>                        
                    </article> <br>

                    <article>
                        <img src="images/css.jpg" alt="CSS" class="product_img">
                        <div class="main-article">
                            <h4 class="title">CSS</h4>
                            <p class="price">$230.000</p>
                        </div>                        
                    </article>
                </div>
            </section>

            <section class="last-visit">
                <h3>Lo más calificado</h3><br>
                <div class="products">
                    
                    <article>
                        <img src="images/js.jpg" alt="Cafetera" class="product_img">
                        <div class="main-article">
                            <h4 class="title">Java Script</h4>
                            <p class="price">$230.000</p>
                        </div>                        
                    </article><br>

                    <article>
                        <img src="images/php.png" alt="php" class="product_img">
                        <div class="main-article">
                            <h4 class="title">PHP</h4>
                            <p class="price">$230.000</p>
                        </div>                        
                    </article><br>

                    <article>
                        <img src="images/html.png" alt="HTML" class="product_img">
                        <div class="main-article">
                            <h4 class="title">HTML</h4>
                            <p class="price">$230.000</p>
                        </div>                        
                    </article> <br>

                    <article>
                        <img src="images/css.jpg" alt="CSS" class="product_img">
                        <div class="main-article">
                            <h4 class="title">CSS</h4>
                            <p class="price">$230.000</p>
                        </div>                        
                    </article>
                </div>
            </section>
        </main>
        
        <%- include('partials/footer') %>

    </body>
</html>