<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body  class="fondo-login-register">

    <%- include('../partials/header') %>

    <main class="mainCar">
        <h3>Carrito de compras</h3><br>
        <section class="productCart-com">
            
            <div class="products-com">
                
                <article>
                    <img src="images/js.jpg" alt="Cafetera" class="product_img">
                    <div class="main-article">
                        <h4 class="title">Java Script</h4>
                        <p class="price">$230.000</p>
                        <button type="submit" class="btnadd">Añadir</button>
                    </div>                        
                </article><br>

                <article>
                    <img src="images/php.png" alt="php" class="product_img">
                    <div class="main-article">
                        <h4 class="title">PHP</h4>
                        <p class="price">$230.000</p>
                        <button type="submit" class="btnadd" >Añadir</button>
                    </div>                        
                </article><br>

                <article>
                    <img src="images/html.png" alt="HTML" class="product_img">
                    <div class="main-article">
                        <h4 class="title">HTML</h4>
                        <p class="price">$230.000</p>
                        <button type="submit" class="btnadd">Añadir</button>
                    </div>                        
                </article> <br>

                <article>
                    <img src="images/css.jpg" alt="CSS" class="product_img">
                    <div class="main-article">
                        <h4 class="title">CSS</h4>
                        <p class="price">$230.000</p>
                        <p class="botonañadircc">
                        <button type="submit" class="btnadd">Añadir</button>
                        </p>
                    </div>                        
                </article>
            </div>


            <div class="infocompra">
                <div class="headerinfocompra">
                    <h4 class="title">Curso</h4>
                    <p class="price">Cantidad</p>
                    <p class="price">Valor</p>

                </div>

                <div class="productosinfocompra">
                    <h4 class="title">CSS</h4>
                    <p>1</p>
                    <p>$230.000</p>
                </div>

                <div class="totalinfocompra">
                    <h4 class="title">Total:</h4>
                    <p>$230.000</p>
                </div>

            </div>


             </div>
    
        </section>


    </main>
    
    <%- include('../partials/footer') %>
    
</body>
</html>