<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>FullStudyStack</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>

        <header>
            <div class="header">
                <img src="./images/logo-blanco.jpg" alt="" class="logo-header">
                
                <div class="barra-busqueda">
                    <input type="text" name="buscar" placeholder="Buscar" class="input-busqueda"><a href="#" class="button-busqueda"><i
                            class="fas fa-search"></i></a>
                </div>
    
                <div class="logos-header">
                    <a href="/"><i class="fas fa-home"></i></a>
                    <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                    <a href="/login"><i class="fas fa-user"></i></a>
                </div>
            </div>
        </header>
        
        <main>
            <section class="last-visit">
                <h3>Basado en tu última visita</h3><br>
                <div class="products">
                    
                    <article>
                        <img src="images/js.jpg" alt="Cafetera" class="product_img">
                        <div class="main-article">
                            <h4 class="title">Java Script</h4>
                            <p class="price">$230.000</p>
                        </div>                        
                    </article><br>

                    <article>
                        <img src="images/php.png" alt="php" class="product_img">
                        <div class="main-article">
                            <h4 class="title">PHP</h4>
                            <p class="price">$230.000</p>
                        </div>                        
                    </article><br>

                    <article>
                        <img src="images/html.png" alt="HTML" class="product_img">
                        <div class="main-article">
                            <h4 class="title">HTML</h4>
                            <p class="price">$230.000</p>
                        </div>                        
                    </article> <br>

                    <article>
                        <img src="images/css.jpg" alt="CSS" class="product_img">
                        <div class="main-article">
                            <h4 class="title">CSS</h4>
                            <p class="price">$230.000</p>
                        </div>                        
                    </article>
                </div>
            </section>
        </main>
        
        <div class="contenedor-footer"></div>
        <footer>
            
        </footer>
    </div> 
    </body>
</html>