<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>FullStudyStack</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>

        <header>
            <div class="header">
                <img src="./images/logo-blanco.jpg" alt="" class="logo-header">
                
                <div class="barra-busqueda">
                    <input type="text" name="buscar" placeholder="Buscar" class="input-busqueda"><a href="#" class="button-busqueda"><i
                            class="fas fa-search"></i></a>
                </div>    
                <div class="logos-header">
                    <a href="/"><i class="fas fa-home"></i></a>
                    <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                    <a href="/login"><i class="fas fa-user"></i></a>
                </div>
            </div>
        </header> 
    
    <main class="main-index2">
        <div class="course_title">
            <h1>Curso Completo de Java Script</h1>       
        </div>        
        <section class="general_course">
            <div class="img_background">                
                <img src="images/js.jpg" alt="js" class="product_img_pd">
            </div>        
            <div class="introduction">
                <ul>
                    <li>Modern JavaScript from the beginning - all the way up to JS expert level! THE must-have JavaScript resource in 2022.</span>
                    <li>Calificación</span>
                    <li>Creado por: Cesar Corregidor Carreño</span> 
                </ul>                
            </div>
        </section>        
        <section class="containt_2">
            <section class="course_information">
                <div class="buy">
                    <div class="price">
                        <h2>$230.000 COP</h2>
                        <div>
                            <h2>Añadir al Carrito</h2>
                        </div>                
                    </div>
                </div>
                <div class="product_description">
                    <h3>Descripción del producto</h3>
                    <ul>
                        <li><span><i class="fas fa-video"></i></span>
                            <span>52 horas de video</span>
                        </li>
                        <li><span><i class="fas fa-file-alt"></i></span>
                            <span>80 artículos</span>
                        </li>
                        <li><span><i class="fas fa-save"></i></span>
                            <span>100 recursos descargables</span>
                        </li>
                        <li><span><i class="fas fa-infinity"></i></span>
                            <span>Acceso Ilimitado</span>
                        </li>
                        <li><i class="fas fa-mobile-alt"></i></span>
                            <span>Acceso en dispositivo celular</span>
                        </li>
                        <li><span><i class="fas fa-trophy"></i></span>
                            <span>Certificado de completamiento</span>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="learn">
                <h3>Qué vas a aprender</h3>
                <div class="learn_list">
                    <ul>
                        <li>
                            <span>
                            <i class="fas fa-check"></i>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quaerat iste culpa. Voluptatem minima earum possimus dicta
                            </span>
                        </li>
                        <li>
                            <span>
                            <i class="fas fa-check"></i>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quaerat iste culpa. Voluptatem minima earum possimus dicta
                            </span>
                        </li>
                        <li>
                            <span>
                            <i class="fas fa-check"></i>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quaerat iste culpa. Voluptatem minima earum possimus dicta
                            </span>
                        </li>
                        <li>
                            <span>
                            <i class="fas fa-check"></i>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quaerat iste culpa. Voluptatem minima earum possimus dicta
                            </span>
                        </li>
                        <li>
                            <span>
                            <i class="fas fa-check"></i>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quaerat iste culpa. Voluptatem minima earum possimus dicta
                            </span>
                        </li>
                        <li>
                            <span>
                            <i class="fas fa-check"></i>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quaerat iste culpa. Voluptatem minima earum possimus dicta
                            </span>
                        </li>
                        <li>
                            <span>
                            <i class="fas fa-check"></i>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quaerat iste culpa. Voluptatem minima earum possimus dicta
                            </span>
                        </li>
                        <li>
                            <span>
                            <i class="fas fa-check"></i>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quaerat iste culpa. Voluptatem minima earum possimus dicta
                            </span>
                        </li>
                    </ul>
                </div>         
    
            </section>
        </section>       
        <br>
        <section class="course_content">
            <h3>Contenido del curso</h3>
            <ul>
                <li><span><i class="fas fa-angle-right"></i></span>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quaerat iste culpa. Voluptatem minima earum possimus dicta
                </li>
                <li><span><i class="fas fa-angle-right"></i></span>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quaerat iste culpa. Voluptatem minima earum possimus dicta
                </li>
                <li><span><i class="fas fa-angle-right"></i></span>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quaerat iste culpa. Voluptatem minima earum possimus dicta
                </li>
                <li><span><i class="fas fa-angle-right"></i></span>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quaerat iste culpa. Voluptatem minima earum possimus dicta
                </li>
            </ul>
        </section>
        <br>
        <section class="comments">
            <h3>Comentarios y Valoraciones</h3>
            <ol>
                <li>
                    1. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum quaerat quidem deserunt, consectetur ducimus aut iure? Voluptate nesciunt, veritatis provident repudiandae debitis
                </li>
                <li>
                    2. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum quaerat quidem deserunt, consectetur ducimus aut iure? Voluptate nesciunt, veritatis provident repudiandae debitis
                </li>
                <li>
                    3. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum quaerat quidem deserunt, consectetur ducimus aut iure? Voluptate nesciunt, veritatis provident repudiandae debitis
                </li>
                <li>
                    4. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum quaerat quidem deserunt, consectetur ducimus aut iure? Voluptate nesciunt, veritatis provident repudiandae debitis
                </li>
            </ol>
        </section>
    </main>
    
    <footer>
            
    </footer>
</body>
</html>