<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>FullStudyStack</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>

        <header>
            <div class="header">
                <a href="/" class="a-logo-header"><img src="./images/logo-v2.2.png" alt="" class="logo-header"></a>
                
                <div class="barra-busqueda">
                    <input type="text" name="buscar" placeholder="Buscar. . ." class="input-busqueda"><a href="#" class="button-busqueda"><i
                            class="fas fa-search"></i></a>
                </div>
    
                <div class="iconos-header">
                    <a href="/"><i class="fas fa-home"></i></a>
                    <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                    <a href="/login"><i class="fas fa-user"></i></a>
                </div>
            </div>
        </header> 
    
    <main class="main_PD">   
        <div class="background_general_course">
            <div class="course_title">
                <h1>Curso Completo de Java Script</h1>       
            </div> 
            <section class="general_course">
                <div class="img_background">                
                    <img src="images/js.jpg" alt="js" class="product_img_pd">
                </div>        
                <div class="introduction">
                    <ul class="general_list">
                        <li>Modern JavaScript from the beginning - all the way up to JS expert level! THE must-have JavaScript resource in 2022.</span>
                        <li>Calificación</span>
                        <li>Creado por: Cesar Corregidor Carreño</span> 
                    </ul>                
                </div>
            </section>
        </div>    
        
        <section class="containt_2">
            <section class="course_information">
                <div class="buy">                    
                    <div>
                        <div class="price">$230.000COP</div>
                            <button type="button" class="price_button">
                                <div class="cart_shopping_add">Añadir al Carrito</div>
                            </button>                              
                        </div>
                </div>
                <div class="product_description">
                    <h3>Descripción del producto</h3>
                    <ul class="general_list">
                        <li><span><i class="fas fa-video"></i></span>
                            <span>52 horas de video</span>
                        </li>
                        <li><span><i class="fas fa-file-alt"></i></span>
                            <span>80 artículos</span>
                        </li>
                        <li><span><i class="fas fa-save"></i></span>
                            <span>100 recursos descargables</span>
                        </li>
                        <li><span><i class="fas fa-infinity"></i></span>
                            <span>Acceso Ilimitado</span>
                        </li>
                        <li><i class="fas fa-mobile-alt"></i></span>
                            <span>Acceso en dispositivo celular</span>
                        </li>
                        <li><span><i class="fas fa-trophy"></i></span>
                            <span>Certificado de completamiento</span>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="learn">
                <h3>Qué vas a aprender</h3>
                <div class="learn_list">
                    <ul class="general_list">
                        <li>
                            <span>
                            <i class="fas fa-check"></i>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quaerat iste culpa. Voluptatem minima earum possimus dicta
                            </span>
                        </li>
                        <li>
                            <span>
                            <i class="fas fa-check"></i>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quaerat iste culpa. Voluptatem minima earum possimus dicta
                            </span>
                        </li>
                        <li>
                            <span>
                            <i class="fas fa-check"></i>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quaerat iste culpa. Voluptatem minima earum possimus dicta
                            </span>
                        </li>
                        <li>
                            <span>
                            <i class="fas fa-check"></i>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quaerat iste culpa. Voluptatem minima earum possimus dicta
                            </span>
                        </li>
                        <li>
                            <span>
                            <i class="fas fa-check"></i>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quaerat iste culpa. Voluptatem minima earum possimus dicta
                            </span>
                        </li>
                        <li>
                            <span>
                            <i class="fas fa-check"></i>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quaerat iste culpa. Voluptatem minima earum possimus dicta
                            </span>
                        </li>
                        <li>
                            <span>
                            <i class="fas fa-check"></i>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quaerat iste culpa. Voluptatem minima earum possimus dicta
                            </span>
                        </li>
                        <li>
                            <span>
                            <i class="fas fa-check"></i>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quaerat iste culpa. Voluptatem minima earum possimus dicta
                            </span>
                        </li>
                    </ul>
                </div>         
    
            </section>
        </section>       
        <br>
        <section class="course_content">
            <h3>Contenido del curso</h3>
            <ul class="general_list">
                <li class="list_li">
                    <details class="list_details">
                        <summary class="list_summary"><a href="#" class="list_a"><i class="fas fa-angle-right"></i>Tema1</a></summary>  
                        <ul class="sublist_ul">
                            <li class="sublist_li"><a href="#" class="sublist_a">Tema1.1</a></li>
                            <li class="sublist_li"><a href="#" class="sublist_a">Tema1.2</a></li>
                            <li class="sublist_li"><a href="#" class="sublist_a">Tema1.3</a></li>
                            <li class="sublist_li"><a href="#" class="sublist_a">Tema1.4</a></li>
                            <li class="sublist_li"><a href="#" class="sublist_a">Tema1.5</a></li>
                        </ul>    
                    </details>                
                </li>       
                <li class="list_li">
                    <details>
                        <summary class="list_summary"><a href="#" class="list_a"><i class="fas fa-angle-right"></i>Tema2</a></summary>  
                        <ul class="sublist_ul">
                            <li class="sublist_li"><a href="#" class="sublist_a">Tema2.1</a></li>
                            <li class="sublist_li"><a href="#" class="sublist_a">Tema2.2</a></li>
                            <li class="sublist_li"><a href="#" class="sublist_a">Tema2.3</a></li>
                            <li class="sublist_li"><a href="#" class="sublist_a">Tema2.4</a></li>
                            <li class="sublist_li"><a href="#" class="sublist_a">Tema2.5</a></li>
                        </ul>    
                    </details>                
                </li>
                <li class="list_li">
                    <details>
                        <summary class="list_summary"><a href="#" class="list_a"><i class="fas fa-angle-right"></i>Tema3</a></summary>  
                        <ul class="sublist_ul">
                            <li class="sublist_li"><a href="#" class="sublist_a">Tema3.1</a></li>
                            <li class="sublist_li"><a href="#" class="sublist_a">Tema3.2</a></li>
                            <li class="sublist_li"><a href="#" class="sublist_a">Tema3.3</a></li>
                            <li class="sublist_li"><a href="#" class="sublist_a">Tema3.4</a></li>
                            <li class="sublist_li"><a href="#" class="sublist_a">Tema3.5</a></li>
                        </ul>    
                    </details>                
                </li>
                <li class="list_li">
                    <details>
                        <summary class="list_summary"><a href="#" class="list_a"><i class="fas fa-angle-right"></i>Tema4</a></summary>  
                        <ul class="sublist_ul">
                            <li class="sublist_li"><a href="#" class="sublist_a">Tema4.1</a></li>
                            <li class="sublist_li"><a href="#" class="sublist_a">Tema4.2</a></li>
                            <li class="sublist_li"><a href="#" class="sublist_a">Tema4.3</a></li>
                            <li class="sublist_li"><a href="#" class="sublist_a">Tema4.4</a></li>
                            <li class="sublist_li"><a href="#" class="sublist_a">Tema4.5</a></li>
                        </ul>    
                    </details>                
                </li>
                <li class="list_li">
                    <details>
                        <summary class="list_summary"><a href="#" class="list_a"><i class="fas fa-angle-right"></i>Tema5</a></summary>  
                        <ul class="sublist_ul">
                            <li class="sublist_li"><a href="#" class="sublist_a">Tema5.1</a></li>
                            <li class="sublist_li"><a href="#" class="sublist_a">Tema5.2</a></li>
                            <li class="sublist_li"><a href="#" class="sublist_a">Tema5.3</a></li>
                            <li class="sublist_li"><a href="#" class="sublist_a">Tema5.4</a></li>
                            <li class="sublist_li"><a href="#" class="sublist_a">Tema5.5</a></li>
                        </ul>    
                    </details>                
                </li>                           
            </ul>
        </section>
        <br>
        <section class="comments">
            <h3>Comentarios y Valoraciones</h3>
            <ol class="general_list">
                <li>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum quaerat quidem deserunt, consectetur ducimus aut iure? Voluptate nesciunt, veritatis provident repudiandae debitis
                </li>
                <li>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum quaerat quidem deserunt, consectetur ducimus aut iure? Voluptate nesciunt, veritatis provident repudiandae debitis
                </li>
                <li>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum quaerat quidem deserunt, consectetur ducimus aut iure? Voluptate nesciunt, veritatis provident repudiandae debitis
                </li>
                <li>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum quaerat quidem deserunt, consectetur ducimus aut iure? Voluptate nesciunt, veritatis provident repudiandae debitis
                </li>
            </ol>
        </section>
    </main>    
    <footer>
        <div class="grupo-listas-footer">
            <div class="lista-footer">
                <div class="titulos-footer">
                    Lorem 1
                </div>
                <br>
                <ul>
                    <li><a href="#" class="a-footer">Lorem ipsum dolor</a></li>
                    <li><a href="#" class="a-footer">Lorem ipsum dolor</a></li>
                    <li><a href="#" class="a-footer">Lorem ipsum dolor</a></li>
                    <li><a href="#" class="a-footer">Lorem ipsum dolor</a></li>
                </ul>
            </div>
            <br>
            <div class="lista-footer">
                <div class="titulos-footer">
                    Lorem 2
                </div>
                <br>
                <ul>
                    <li><a href="#" class="a-footer">Lorem ipsum dolor</a></li>
                    <li><a href="#" class="a-footer">Lorem ipsum dolor</a></li>
                    <li><a href="#" class="a-footer">Lorem ipsum dolor</a></li>
                    <li><a href="#" class="a-footer">Lorem ipsum dolor</a></li>
                </ul>
            </div>
            <br>
            <div class="lista-footer">
                <div class="titulos-footer">
                    Lorem 3
                </div>
                <br>
                <ul>
                    <li><a href="#" class="a-footer">Lorem ipsum dolor</a></li>
                    <li><a href="#" class="a-footer">Lorem ipsum dolor</a></li>
                    <li><a href="#" class="a-footer">Lorem ipsum dolor</a></li>
                    <li><a href="#" class="a-footer">Lorem ipsum dolor</a></li>
                </ul>
            </div>
        </div>
        <br>
        <div class="caja-logo-e-iconos-footer">
            <a href="/"><img src="./images/logo-v2.2.png" alt="" class="logo-footer"></a>
            <br>
            <div class="grupo-iconos-footer">
                <a href="#"><img src="./images/logo-whatsapp.jpg" alt="" class="icono-footer"></a>
                <a href="#"></a><img src="./images/logo-facebook.png" alt="" class="icono-footer"></a>
                <a href="#"></a><img src="./images/logo-instagram.png" alt="" class="icono-footer"></a>
                <a href="#"></a><img src="./images/logo-twitter.jpg" alt="" class="icono-footer"></a>
            </div>
        </div>
    </footer>
</body>
</html>