*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

.fondo-login-register{
    background: url(/images/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
/*---------------------style main-----------------------*/
main{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
    margin-top: 50px;
    background-color: #f38221;
}
main section .products{
    display: flex;
    flex-wrap: wrap;
}

main h3{
    padding: 20px 20px 0px 50px;
    margin-bottom: 0px;
}

main section article{
    width: 100%;
    background-color: rgb(10, 83, 83);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: none;
    transition: width 2s, height 4s;
    padding: 2%;
    margin: 1%;
}
main section article:hover{
    background-color: #fff;    
    box-shadow: 0px 0px 50px #666;
}

.product_img{
    width: 100%;
    height: 150px;
    padding: 2%;
}
article div.main-article{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

/*--------------------------------------Estilos header-----------------------------------------------------------*/
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 5px #666;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

.logo-header{
    width: 15%;
}

.barra-busqueda{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    padding: 5px;
    border: none;
    background-color: #f38221;
    border-radius: 5px;
    color: black;
}

.barra-busqueda ::placeholder{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.input-busqueda{
    width: 85%;
    border:none;
    background: none;
    outline: none;
    color: white;
    font-size: 15px;
    
}

.logos-header{
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.logos-header i{
    color: #f38221;
    font-size: 1.5em;
}

.button-busqueda i{
    border: none;
    color: white;
    float: right;
    font-size: 15px;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

form ::placeholder{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.items-formulario{
    margin: 15px;
    width: 70%;
    justify-content: center;
}


.items-formulario label{
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.item{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    background-color: rgba(244, 130, 33, 0.5);
}

.button-enviar-borrar{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    width: 100%;
    color: white;
    background-color: rgb(2, 142, 153);
    font-size: 1em;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    justify-content: space-around;
    padding: 8px;
}

.caja-link-login{
    display: flex;
    justify-content: space-around;
}

.link-login{
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
    font-family: 'Montserrat', sans-serif;
}


@media (min-width: 481px){
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);              
    }

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    main section div.products article{
        width: 45%;
        display: flex;
    }

    main{
        margin-top: 80px;
    }

    .logos-header i{
        font-size: 2em;
    }

    .barra-busqueda{
        width: 50%;
        padding: 10px;
        margin:2%
    }

    .barra-busqueda ::placeholder{
        font-size: 20px;
    }

    .input-busqueda{
        padding: 6px;
    }

    .button-busqueda i{
        font-size: 20px;
        float: right;
    }
    
}

@media (min-width: 769px){

    main section div.products article{
        width: 23%;
        display: flex;
    }

    main{
        margin-top: 150px;
    }

    .logos-header i{
        font-size: 3em;
    }

    .barra-busqueda{
        width: 50%;
        padding: 10px;
    }

    .barra-busqueda ::placeholder{
        font-size: 25px;
    }

    .input-busqueda{
        padding: 5px;
    }

    .button-busqueda i{
        font-size: 25px;
        float: right;
    }
}