*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

.fondo-login-register{
    background: url(/images/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 0;
}
/*---------------------style main-----------------------*/
.main-index{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
    margin-top: 50px;
    background-color: #f38221;
}

main section .products{
    display: flex;
    flex-wrap: wrap;
}

main h3{
    padding: 20px 20px 0px 50px;
    margin-bottom: 0px;
}

main section article{
    width: 100%;
    background-color: rgb(10, 83, 83);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: none;
    transition: width 2s, height 4s;
    padding: 2%;
    margin: 1%;
}
main section article:hover{
    background-color: #fff;    
    box-shadow: 0px 0px 50px #666;
}

body{
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}

.product_img{
    width: 100%;
    height: 150px;
    padding: 2%;
}
article div.main-article{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

/*--------------------------------------ProductDetail-------------------------------------------------------*/
.main-index2{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
    margin-top: 14%;
    background-color: #ffffff;
}

main .course_title{
    width: 100%;
    margin: 0 auto;
    padding: 5%;
    text-align: center;
}

main .img_background{
    padding: 1%;
}

main .product_img_pd{
    width: 100%;
    height: 30vw;
    padding: 2%;
}

main .general_list {
    list-style-type: none;
    padding: 3px;
    color: black;
}

.buy{
    flex: block;
    margin: 0 auto;
    padding: 0.5rem 0;
    width: 100%;
    color: white;
    background-color: #032e8c;
    border: solid 1px solid ;
    text-align: center;
}

main .course_information,
main .learn{
    width: 100%;
    border:  solid 1px #666;
    margin: 0.5rem 1rem;
    border-radius: 1%;
    padding: 0.5rem;
    font-size: 1.2rem;
}

main .course_content{
    border:  solid 1px #666;
    margin: 0.5rem 1rem;
    border-radius: 1%;
    padding: 0.5rem;
    font-size: 1.2rem;

}

main .comments{
    border:  solid 1px #666;
    margin: 0.5rem 1rem;
    border-radius: 1%;
    padding: 0.5rem;
    font-size: 1.2rem;
}

/*--------------------------------------Estilos header-----------------------------------------------------------*/
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 5px #666;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

.logo-header{
    width: 15%;
}

.barra-busqueda{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    padding: 5px;
    border: none;
    background-color: #f38221;
    border-radius: 5px;
    color: black;
}

.barra-busqueda ::placeholder{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.input-busqueda{
    width: 85%;
    border:none;
    background: none;
    outline: none;
    color: white;
    font-size: 15px;
    
}

.logos-header{
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.logos-header i{
    color: #f38221;
    font-size: 1.5em;
}

.button-busqueda i{
    border: none;
    color: white;
    float: right;
    font-size: 15px;
}

.main-login{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

form ::placeholder{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin: 10px;
}

.items-formulario{
    margin: 15px;
    width: 70%;
    justify-content: center;
}


.items-formulario label{
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.item{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    background-color: rgba(244, 130, 33, 0.5);
}

.button-enviar-borrar{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    width: 100%;
    color: white;
    background-color: rgb(2, 142, 153);
    font-size: 1em;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    justify-content: space-around;
    padding: 8px;
}

.caja-link-login{
    display: flex;
    justify-content: space-around;
}

.link-login{
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/*-------------------------------estilos footer------------------------------------------------------------*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    margin: 10px;
}

.grupo-listas-footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.lista-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista-footer ul{
    display: none;
}

.titulos-footer{
    display: block;
    font-weight: 5000;
    color: white;
}

ul{
    color: white;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.caja-logo-e-iconos-footer{
    display: block;
    width: 50%;
}

.logo-footer{
    width: 100%;
    display: flex;
    border-radius: 5px;
}

.grupo-iconos-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icono-footer{
    width: 2em;
    height: 2em;
    border-radius: 50%;
}

@media (min-width: 481px){
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);              
    }

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    main section div.products article{
        width: 45%;
        display: flex;
    }

    .main-index{
        margin-top: 80px;
    }

    .main-login{
        margin-top: 80px;
    }

    .logos-header i{
        font-size: 2em;
    }

    .barra-busqueda{
        width: 50%;
        padding: 10px;
        margin:2%
    }

    .barra-busqueda ::placeholder{
        font-size: 20px;
    }

    .input-busqueda{
        padding: 6px;
    }

    .button-busqueda i{
        font-size: 20px;
        float: right;
    }
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: rgba(0, 0, 0, 0.7);
        float: bottom;
        align-self: flex-end;
        padding: 20px;
        margin: 10px;
    }
    
    .grupo-listas-footer{
        display: flex;
        width: 50%;
        justify-content: space-between;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }
    
    .lista-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lista-footer ul{
        display: block;
    }
    
    .titulos-footer{
        display: block;
        font-weight: 5000;
        color: white;
    }
    
    ul{
        color: white;
    }
    
    a{
        text-decoration: none;
        color: white;
        font-weight: 500;
    }
    
    .caja-logo-e-iconos-footer{
        display: block;
        width: 50%;
    }
    
    .logo-footer{
        width: 100%;
        display: flex;
        border-radius: 5px;
    }
    
    .grupo-iconos-footer{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .icono-footer{
        width: 2em;
        height: 2em;
        border-radius: 50%;
    }
    /*------------------------DetailProduct481---------------------------*/
    main .containt_2{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
        padding: 3%;
        width: 100%;
        margin-top: 1rem;
        border-top: solid 1px #666;
    }

    main .course_information,
    main .learn{
        margin: 0 0.2rem;
        border-radius: 1%;
        padding: 0.2rem;
        font-size: 1.2rem;
    }

    main .course_information{
        align-self: flex-start;
    }    
    main .course_content,
    main .comments{
        border:  solid 1px #666;
        margin: 0 3.2rem;
        border-radius: 1%;
        font-size: 1.2rem;       
    }    
    main .general_course{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;       
        padding: 3%;
        width: 100%;
        background-color: #666;
        }
    main .introduction{
        font-size: 1.2rem;
        color: #ffffff;
    }
    /*-------------------*/
}
@media (min-width: 769px){

    main section div.products article{
        width: 23%;
        display: flex;
    }

    .main-index{
        margin-top: 150px;
    }

    .main-login{
        margin-top: 150px;
    }

    .logos-header i{
        font-size: 3em;
    }

    .barra-busqueda{
        width: 50%;
        padding: 10px;
    }

    .barra-busqueda ::placeholder{
        font-size: 23px;
    }

    .input-busqueda{
        padding: 5px;
    }

    .button-busqueda i{
        font-size: 25px;
        float: right;
    }

    /*--------------------DetailProduct769------------------*/
    main .course_information,
    main .learn{
        margin: 0 0.5rem;
    }

    main .learn{
        flex-grow: 0.7;
    }

    main .course_information{
        flex-grow: 0.3;
    }

    main .course_information,
    main .learn,
    main .course_content,
    main .comments{
        font-size: 1.4rem;
    } 

    /*-------------------*/

    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: rgba(0, 0, 0, 0.7);
        float: bottom;
        align-self: flex-end;
        padding: 20px;
        margin: 10px;
    }
    
    .grupo-listas-footer{
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-content: space-between;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }
    
    .lista-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .titulos-footer{
        display: block;
        font-weight: 5000;
        color: white;
    }
    
    ul{
        color: white;
    }
    
    a{
        text-decoration: none;
        color: white;
        font-weight: 500;
    }
    
    .caja-logo-e-iconos-footer{
        display: block;
        width: 15%;
    }
    
    .logo-footer{
        width: 100%;
        display: flex;
        border-radius: 5px;
    }
    
    .grupo-iconos-footer{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .icono-footer{
        width: 2em;
        height: 2em;
        border-radius: 50%;
    }
}

/*---------------------style productCart-----------------------*/

main section .products-com{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 23%;
}

.headerinfocompra, .productosinfocompra, .totalinfocompra{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between; 
}

.infocompra{

    background-color: rgb(10, 83, 83);
    padding: 2%;
    margin: 1%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 23%;
    height: 25%;
}

.productCart-com{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}