*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

.fondo-login-register{
    background: url(/images/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 0;
}

/*---------------------style main-----------------------*/
.main-index{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
    margin-top: 50px;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    -webkit-border-radius: 20;
}
.description{
    display: none;
}

.main-index .container-up{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding-right: 2%;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
    
}

.main-index .list-index {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.main-index .list-index li{
    width: 100%;
    margin: 1rem;
}
.main-index .self-container-1p{
    text-align: right;    
}
.main-index .self-container-2p{
    text-align: right;    
}

.main-index .self-container-1p a,
.main-index .self-container-2p a{
    font-family: 'Poppins', sans-serif;
    padding: 8px;    
    font-size: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
    background-color:#000B1F;
    border-radius: 20px;
    border: 1.5px solid #00DFEF;
    box-shadow: 0px 0px 2px 2px #00DFEF;
    width: 60%;  
    text-decoration: none;  
}

.main-index .self-container-1p:hover  a,
.main-index .self-container-2p:hover  a{
    font-weight: bold;
    color:white;
    background-color:#FF0D6D;
    border: 1.5px solid #FF0D6D;
    box-shadow: 0px 0px 2px 2px #FF0D6D;    
}

main section .products{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: white;
}

main h3{
    padding: 20px 20px 0px 20px;
    margin-bottom: 0px;
    color: white;
}

main section article{
    width: 100%;
    background-color: rgba(0, 11, 31, 0.9);;
    border: 1.5px solid #00DFEF;
    box-shadow: 0px 0px 2px 2px #00DFEF;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: none;
    transition: width 2s, height 4s;
    padding: 2%;
    margin: 4%;
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
}
main section article:hover{
    border: 1.5px solid #FF0D6D;
    box-shadow: 0px 0px 8px 2px #FF0D6D; 
}

body{
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
    background-color: #000713;
}

.product_img{
    width: 100%;
    height: 150px;
    padding: 2%;
}
article div.main-article{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
    text-decoration: none; 
    color: white;   
}
/*.....................................allProducts---------------------------------------------------------*/

.main-allProducts{
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}

.main-allProducts .products {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: white;
}

.main-allProducts .products article{
    width: 100%;
    border: 1.5px solid #00DFEF;
    background-color: rgba(0, 11, 31, 0.9);
    transition: width 2s, height 4s;
    padding: 2%;
    margin: 4%;
    border-radius: 15px;

}

/*--------------------------------------ProductDetail-------------------------------------------------------*/

.main_PD h1{
    font-size: 50px;
    color: white;
}
.main_PD h2{
    font-size: 40px;
    color: white;
}
.main_PD h3{
    font-size: 30px;
    color: white;
}
.main_PD h4{
    font-size: 25px;
    color: white;
}

.main_PD{
    width: 90%;
    margin: 0 auto;
    margin-top: 14%;
    background-color: #001044;
    padding: 0%;
}
.main_PD .title_course{
    width: 100%;
    padding: 1rem;
    color: white;
    border-bottom: 1px solid #00DFEF;
    border-top: 1px solid #00DFEF;
}

.main_PD .creator_modify{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    margin-right: 2%;
}

.main_PD .creator_modify .creator{
    width: 50%;
}
.main_PD .introduction_text{
    list-style-type: none;
}
.main_PD .listModify{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;    
}

.main_PD .creator_modify form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.main_PD .creator_modify a{
    font-size: 0.65rem;
    font-family: 'Poppins', sans-serif;
    padding: 8px;
    font-weight: bold;
    color: white;
    background-color:#000B1F;
    border-radius: 20px;
    border: 1.5px solid #00DFEF;
    box-shadow: 0px 0px 2px 2px #00DFEF;    
}

.main_PD .creator_modify button{
    width: 100%;
    font-size: 0.65rem;
    font-family: 'Poppins', sans-serif;
    padding: 8px;
    font-weight: bold;
    color: white;
    background-color:#000B1F;
    border-radius: 20px;
    border: 1.5px solid #00DFEF;
    box-shadow: 0px 0px 2px 2px #00DFEF;    
}


.main_PD .creator_modify .modifyProduct:hover a{
    font-weight: bold;
    color:white;
    background-color:#FF0D6D;
    border: 1.5px solid #FF0D6D;
    box-shadow: 0px 0px 2px 2px #FF0D6D;    
}
.main_PD .creator_modify .deleteProduct:hover button{
    font-weight: bold;
    color:white;
    background-color:#FF0D6D;
    border: 1.5px solid #FF0D6D;
    box-shadow: 0px 0px 2px 2px #FF0D6D;    
}

.main_PD .introduction_text li{
    margin: 1rem;
    font-size: 1.2rem;
}
.main_PD .introduction_text li span{
    display: inline-block;
    margin: 1px;
}

.main_PD .mas_vendido{
    background-color: rgba(255, 255, 0, 0.8);
    padding: 0.2rem;
    font-weight: 1000;
    color: #FF0D6D;
}

.main_PD .introduction_star{
    color: rgb(255, 255, 0, 0.6);
}

.main_PD .product_img_pd{
    margin: 0 -5vw;
    width: 100vw;
    border: 1px solid rgb(255, 255, 255);
}

.main_PD .general_list {
    list-style-type: none;
    padding: 3px;
    color: rgb(255, 255, 240, 1);
}

.main_PD .course_information,
.main_PD .learn{
    border:  solid 1px #666;
    margin: 0.5rem 1rem;
    border-radius: 1%;
    padding: 0.5rem;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.main_PD .price{
    width: 100%;
    text-align: center;
    margin: 0.5rem;
    margin: 0.5rem;
    font-size: 2.5rem;
    color: white;
}

.main_PD .price_button{
    display: block;
    width: 100%;
    color: white;
    font-size: bolder;
    /*background-color: #000B1F;*/
    background-color: #396cda;
    border-radius: 20px;
    margin: 0 auto;
    padding: 0.1rem 0;
    border: 1.5px solid white;
    box-shadow: 0px 0px 2px 2px #00DFEF;
}

.main_PD .price_button:hover{
    background-color: #FF0D6D;
    border: 1.5px solid #FF0D6D;
    box-shadow: 0px 0px 2px 2px #FF0D6D;
}

.main_PD .cart_shopping_add{
    width: 100%;
    padding: 0.5rem 0;
    font-size: 2.5rem;
}

.main_PD .course_content{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin: 0.5rem 1rem;
    border-radius: 1%;
    padding: 0.5rem;
    font-size: 1.2rem;

}

.main_PD .comments{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin: 0.5rem 1rem;
    border-radius: 1%;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.main_PD .list_li{
    padding: 0.5rem;
    border-top: solid 1px #666;
}
.main_PD .list_li{
    padding: 15px;
}

.main_PD summary::marker {
      content: "";
}

.main_PD .list_a{
    color: rgb(255, 255, 240, 1);
}

.main_PD .sublist_li{
    display: block;
    width: 100%;
    list-style-type: none;
    margin-left: 1rem;
    margin-top: 5px;
    background-color:  rgb(255, 255, 240, 0.7);
    border: solid 1px #00347A;
    border-radius: 5px;
    font-weight: bold;
    color: black;
}

.main_PD .sublist_a{
    display: block;
    padding: 0.2rem;
}

.main_PD .sublist_li .sublist_a:hover{
    background-color: #ffbb80;
}

/*--------------------------------------Estilos header-----------------------------------------------------------*/
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 4px #000B1F;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 11, 31, 0.7);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    z-index: 10;
}

.logo-header{
    width: 100%;
}

.a-logo-header{
    width: 15%;
}

.barra-busqueda{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    padding: 0;
    background-color: #000B1F;
    border: 1.5px solid #00DFEF;
    box-shadow: 0px 0px 8px 2px #00DFEF;
    border-radius: 20px;
}

.barra-busqueda:hover{
    border: 1.5px solid #FF0D6D;
    box-shadow: 0px 0px 8px 2px #FF0D6D;
}

.barra-busqueda ::placeholder{
    color: white;
    font-family:'Poppins', sans-serif;
    font-size: 15px;
}

.input-busqueda{
    width: 85%;
    border:none;
    background: none;
    outline: none;
    color: white;
    font-size: 15px;
    font-family:'Poppins', sans-serif;  
}

.form-input-busqueda{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    border:none;
    background: none;
    outline: none;
    color: white;  
}

.iconos-header{
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.iconos-header i{
    color: #00DFEF;
    font-size: 1em;
}

.iconos-header i:hover{
    color: #FF0D6D;
}

.button-busqueda{
    border: none;
}

.button-busqueda i{
    border: none;
    color: white;
    background-color: #000713;
    float: right;
    font-size: 15px;
}

.button-busqueda i:hover{
    color : #FF0D6D;
}
/*-------------------------register-------------------------*/
.main-login{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
}

.main-login form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.main.login form ::placeholder{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin: 10px;
}

.items-formulario{
    margin: 15px;
    width: 70%;
    justify-content: center;
}


.main-login .items-formulario label{
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.main-login .item-categorias{
    width: 100%;
}

.main-login .item-categorias2{
    width: 100%;
    background-color: #000B1F;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #00DFEF;
    box-shadow: 0px 0px 2px 2px #00DFEF;
    border-radius: 20px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.main-login .item-categorias2:hover{
    border: 1.5px solid #FF0D6D;
    box-shadow: 0px 0px 2px 2px #FF0D6D;
}
.main-login .userImage{ 
    width: 100%;
    position: relative;
    border: 1.5px solid #00DFEF;
    border-radius: 20px;
}

.main-login .userImage:hover{
    border: 1.5px solid #FF0D6D;
    box-shadow: 0px 0px 2px 2px #FF0D6D;
    border-radius: 20px;
}

.main-login .userImage::before{
    background-color: #000B1F;
    color: white;
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #00DFEF;
    box-shadow: 0px 0px 2px 2px #00DFEF;
    border-radius: 20px;;
    content: 'Seleccionar Imagen'; /* texto por defecto */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.main-login .userImage:hover::before{
    border: 1.5px solid #FF0D6D;
    box-shadow: 0px 0px 2px 2px #FF0D6D;
}

.main-login .userImage input[type="file"] {
    opacity: 0;
    height: 37px;
    width: 100%;
  }


.item{
    width: 100%;
    padding: 8px;
    background-color: #000B1F;
    border: 1.5px solid #00DFEF;
    box-shadow: 0px 0px 2px 2px #00DFEF;
    border-radius: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 0;
}

.item:hover{
    border: 1.5px solid #FF0D6D;
    box-shadow: 0px 0px 2px 2px #FF0D6D;
}

.button-enviar-borrar{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    width: 100%;
    color: white;
    background-color: #000B1F;
    font-size: 1em;
    text-align: center;
    border-radius: 20px;
    margin: 0 auto;
    justify-content: space-around;
    padding: 8px;
    border: 1.5px solid #00DFEF;
    box-shadow: 0px 0px 2px 2px #00DFEF;
}

.button-enviar-borrar:hover{
    background-color: #FF0D6D;
    border: 1.5px solid #FF0D6D;
    box-shadow: 0px 0px 2px 2px #FF0D6D;
}

.caja-link-login{
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.link-login{
    padding: 8px;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.link-login-2{
    padding: 8px;
    margin-bottom: 5px;
    font-weight: bold;
    text-decoration: underline;
    color: white;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
}

.link-login-2:hover{
    color:#FF0D6D
}

/*----------------------------------newProduct and modifyProduct-------------------------------------------*/
.main-newProduct{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
    padding-top: 10px;
}
.main-newProduct form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(4px);
}

.main-newProduct ::placeholder{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin: 10px;
}

.main-newProduct .items-categorias{
    margin: 15px;
    width: 70%;
    justify-content: center;
}

.main-newProduct .items-new-product{
    margin: 15px;
    width: 70%;
    justify-content: center;
}

.main-newProduct .items-new-product label{
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.main-newProduct .productImage{
    width: 100%;
    position: relative;
    border: 1.5px solid #00DFEF;
    border-radius: 20px;
}

.main-newProduct .productImage:hover{
    border: 1.5px solid #FF0D6D;
    box-shadow: 0px 0px 2px 2px #FF0D6D;
    border-radius: 20px;
}

.main-newProduct .productImage::before{
    background-color: #000B1F;
    color: white;
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #00DFEF;
    box-shadow: 0px 0px 2px 2px #00DFEF;
    border-radius: 20px;;
    content: 'Seleccionar Imagen'; /* texto por defecto */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.main-newProduct .productImage:hover::before{
    border: 1.5px solid #FF0D6D;
    box-shadow: 0px 0px 2px 2px #FF0D6D;
}

.main-newProduct .productImage input[type="file"] {
    opacity: 0;
    height: 37px;
    width: 100%;
  }

.main-newProduct .item-categorias{
    width: 100%;
}

.main-newProduct .item-categorias2{
    width: 100%;
    background-color: #000B1F;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #00DFEF;
    box-shadow: 0px 0px 2px 2px #00DFEF;
    border-radius: 20px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.main-newProduct .item-categorias2:hover{
    border: 1.5px solid #FF0D6D;
    box-shadow: 0px 0px 2px 2px #FF0D6D;
}

.main-newProduct .item{
    width: 100%;
    padding: 8px;
    background-color: #000B1F;
    border: 1.5px solid #00DFEF;
    box-shadow: 0px 0px 2px 2px #00DFEF;
    border-radius: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 0;
}

.main-newProduct .item:hover{
    border: 1.5px solid #FF0D6D;
    box-shadow: 0px 0px 2px 2px #FF0D6D;
}

.main-newProduct .button-crear-curso{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    width: 100%;
    color: white;
    background-color: #000B1F;
    font-size: 1em;
    text-align: center;
    border-radius: 20px;
    margin: 0 auto;
    justify-content: space-around;
    padding: 8px;
    border: 1.5px solid #00DFEF;
    box-shadow: 0px 0px 2px 2px #00DFEF;
}

.main-newProduct .button-crear-curso:hover{
    background-color: #FF0D6D;
    border: 1.5px solid #FF0D6D;
    box-shadow: 0px 0px 2px 2px #FF0D6D;
}
/*-------------------------------estilos footer------------------------------------------------------------*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgba(0, 11, 31, 0.7);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}

.grupo-listas-footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.lista-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista-footer ul{
    display: none;
}

.titulos-footer{
    display: block;
    font-weight: bold;
    color: white;
}

.titulos-footer:hover{
    color: #FF0D6D;
}

ul{
    color: white;
}

.a-footer{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.caja-logo-e-iconos-footer{
    display: block;
    width: 50%;
}

.logo-footer{
    width: 100%;
    display: flex;
    border-radius: 5px;
}

.grupo-iconos-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icono-footer{
    width: 2em;
    height: 2em;
    border-radius: 50%;
}

.icono-footer:hover{
    border: 1.5px solid #FF0D6D;
    box-shadow: 0px 0px 8px 2px #FF0D6D;
}

/*---------------------------------------profile-----------------------------------------------------*/
.main_profile h1{
    font-size: 50px;
    color: white;
}
.main_profile h2{
    font-size: 40px;
    color: white;
}
.main_profile h3{
    font-size: 30px;
    color: white;
}
.main_profile h4{
    font-size: 25px;
    color: white;
}

.main_profile{
    width: 90%;
    margin: 0 auto;
    margin-top: 14%;
    background-color: #001044;
    padding: 0%;
}
.main_profile .title_course{
    width: 100%;
    padding: 1rem;
    color: white;
    border-bottom: 1px solid #00DFEF;
    border-top: 1px solid #00DFEF;
}

.main_profile .creator_modify{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    margin-right: 2%;
}

.main_profile .creator_modify .creator{
    width: 50%;
}
.main_profile .introduction_text{
    list-style-type: none;
}
.main_profile .listModify{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;    
}

.main_profile .creator_modify form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.main_profile .creator_modify a{
    font-size: 0.65rem;
    font-family: 'Poppins', sans-serif;
    padding: 8px;
    font-weight: bold;
    color: white;
    background-color:#000B1F;
    border-radius: 20px;
    border: 1.5px solid #00DFEF;
    box-shadow: 0px 0px 2px 2px #00DFEF;    
}

.main_profile .creator_modify button{
    width: 100%;
    font-size: 0.65rem;
    font-family: 'Poppins', sans-serif;
    padding: 8px;
    font-weight: bold;
    color: white;
    background-color:#000B1F;
    border-radius: 20px;
    border: 1.5px solid #00DFEF;
    box-shadow: 0px 0px 2px 2px #00DFEF;    
}


.main_profile .creator_modify .modifyProduct:hover a{
    font-weight: bold;
    color:white;
    background-color:#FF0D6D;
    border: 1.5px solid #FF0D6D;
    box-shadow: 0px 0px 2px 2px #FF0D6D;    
}
.main_profile .creator_modify .deleteProduct:hover button{
    font-weight: bold;
    color:white;
    background-color:#FF0D6D;
    border: 1.5px solid #FF0D6D;
    box-shadow: 0px 0px 2px 2px #FF0D6D;    
}

.main_profile .introduction_text li{
    margin: 1rem;
    font-size: 1.2rem;
}
.main_profile .introduction_text li span{
    display: inline-block;
    margin: 1px;
}

.main_profile .mas_vendido{
    background-color: rgba(255, 255, 0, 0.8);
    padding: 0.2rem;
    font-weight: 1000;
    color: #FF0D6D;
}

.main_PD .introduction_star{
    color: rgb(255, 255, 0, 0.6);
}

.main_profile .product_img_pd{
    margin: 0 -5vw;
    width: 100vw;
    border: 1px solid rgb(255, 255, 255);
}

.main_profile .general_list {
    list-style-type: none;
    padding: 3px;
    color: rgb(255, 255, 240, 1);
}
/*---------------------------------------------------------------------------------------------------*/

@media (min-width: 481px){
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        margin: 2%;              
    }

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    main section div.products article{
        width: 45%;
        display: flex;
    }
    article div.main-article{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
    }
    
    .main-index{
        margin-top: 80px;
    }

    .main-login{
        margin-top: 80px;
    }

    .iconos-header i{
        font-size: 1.5em;
    }

    .barra-busqueda{
        width: 50%;
        padding: 2px;
        margin:2%
    }

    .barra-busqueda ::placeholder{
        font-size: 20px;
    }

    .input-busqueda{
        padding: 6px;
    }

    .button-busqueda i{
        font-size: 20px;
        float: right;
    }
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        float: bottom;
        align-self: flex-end;
        padding: 20px;
        margin: 10px;
    }
    
    .grupo-listas-footer{
        display: flex;
        width: 50%;
        justify-content: space-between;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    }
    
    .lista-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lista-footer ul{
        display: block;
    }
    
    .titulos-footer{
        display: block;
        font-weight: 5000;
        color: white;
    }
    
    ul{
        color: white;
    }
    
    a{
        text-decoration: none;
        color: white;
        font-weight: 500;
    }
    
    .caja-logo-e-iconos-footer{
        display: block;
        width: 50%;
    }
    
    .logo-footer{
        width: 100%;
        display: flex;
        border-radius: 5px;
    }
    
    .grupo-iconos-footer{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .icono-footer{
        width: 2em;
        height: 2em;
        border-radius: 50%;
    }

    .caja-link-login{
        width: 60%;
        justify-content: space-around;
    }

    .item{
        box-shadow: 0px 0px 8px 2px #00DFEF;
    }
    
    .item:hover{
        border: 1.5px solid #FF0D6D;
        box-shadow: 0px 0px 8px 2px #FF0D6D;
    }

    form{
        border-radius: 10px;
    }

        /*-------------------------allProducts_481px------------------*/
        .main-allProducts{
            margin-top: 80px;
        }

        .main-allProducts .products article{
            width: 45%;
            margin: 5px;
        }

    /*------------------------DetailProduct481---------------------------*/
    .main_PD .containt_2{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
        padding: 3%;
        width: 100%;
        margin-top: 1rem;
        border-top: solid 1px #666;
    }

    .main_PD .general_course{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;      
        width: 100vw; 
        margin-left: -5vw;
        background-color: #00347A;  
    }

    .main_PD .img_background{
        margin: 0 auto;
        width: 100%;
        flex-grow: 0.5;
        padding: 0.5rem;
    }
    .main_PD .introduction{
        width: 100%;
        flex-grow: 0.5;
        padding: 0.5rem;
    }

    .main_PD .product_img_pd{
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .main_PD .course_information,
    .main_PD .learn{
        margin: 0 0.2rem;
        border-radius: 1%;
        padding: 0.2rem;
        font-size: 1.2rem;
    }
    .main_PD .creator_modify a{
        font-size: 1rem;   
    }

    .main_PD .modifyProduct{
        width: 100%;
        display: flex;
    }
    .main_PD .deleteProduct{
        width: 100%;
        display: flex;
    }

    .main_PD .course_information{
        align-self: flex-start;
    }    
    .main_PD .course_content,
    .main_PD .comments{
        border:  solid 1px #666;
        margin: 0 3.2rem;
        border-radius: 1%;
        font-size: 1.2rem;       
    }    
    /*----------------------------------newProduct-------------------------------------------*/
    .main-newProduct{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 150px;
        padding-top: 10px;
    }

}

/*------------------------profile481---------------------------*/
.main_profile .containt_2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    padding: 3%;
    width: 100%;
    margin-top: 1rem;
    border-top: solid 1px #666;
}

.main_profile .general_course{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;      
    width: 100vw; 
    margin-left: -5vw;
    background-color: #00347A;  
}

.main_profile .img_background{
    margin: 0 auto;
    width: 100%;
    flex-grow: 0.5;
    padding: 0.5rem;
}
.main_profile .introduction{
    width: 100%;
    flex-grow: 0.5;
    padding: 0.5rem;
}

.main_profile .product_img_pd{
    width: 100%;
    height: 100%;
    margin: 0;

}    

@media (min-width: 769px){

    main section div.products article{
        width: 23%;
        display: flex;
        margin: 1%;
    }
    h3{        
    font-size: xx-large;
    }

    .main-index{
        margin-top: 150px;
    }

    .main-login{
        margin-top: 150px;
    }

    .iconos-header i{
        font-size: 2em;
    }

    .barra-busqueda{
        width: 50%;
        padding: 5px;
    }

    .barra-busqueda ::placeholder{
        font-size: 23px;
    }

    .input-busqueda{
        padding: 5px;
    }

    .button-busqueda i{
        font-size: 25px;
        float: right;
    }

    .caja-link-login{
        width: 40%;
        justify-content: space-around;
    }

    .item{
        box-shadow: 0px 0px 8px 2px #00DFEF;
    }
    
    .item:hover{
        border: 1.5px solid #FF0D6D;
        box-shadow: 0px 0px 8px 2px #FF0D6D;
    }

    form{
        border-radius: 20px;
        backdrop-filter: blur(4px);
    }

    /*------------------------------loging_register----------------------------------*/
    
    .items-formulario{
        margin: 15px;
        width:45%;
        justify-content: center;
    }

    /*-------------------------allProducts_481px------------------*/
    .main-allProducts{
        margin-top: 150px;
    }

    .main-allProducts .products article{
        width: 20%;
        margin: 10px;
    }

    /*------------------------index-------------------------*/
    .main-index .list-index {
        flex-direction: row;      
        justify-content: flex-end;
    }
    

    .main-index .li
    .main-index .list-index .buttonAllProducts{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .main-index .list-index .buttonNewProduct{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    
    .main-index .self-container-1p a,
    .main-index .self-container-2p a{
        font-size: 1rem;
        text-align: center;
    }
    
    /*--------------------DetailProduct769------------------*/
    .main_PD .course_information,
    .main_PD .learn{
        margin: 0 0.5rem;
    }

    .main_PD .learn{
        flex-grow: 0.7;
    }

    .main_PD .course_information,
    .main_PD .learn,
    .main_PD .course_content,
    .main_PD .comments{
        font-size: 1.4rem;
    } 


    
    .main-index .self-container-2 a{
        font-size: 1rem;
        text-align: center;
    }

    /*--------------modifyProduct_createProduct--------------*/
    .main-newProduct form{
        border-radius: 20px;
        backdrop-filter: blur(4px);
    }
    .main-newProduct .items-new-product{
        margin: 15px;
        width: 45%;
        justify-content: center;
    }
    /*------------------------footer--------------------------*/
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        float: bottom;
        align-self: flex-end;
        padding: 20px;
        margin: 10px;
        border-radius: 20px;
    }
    
    .grupo-listas-footer{
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-content: space-between;
        align-items: center;
        font-family: 'Poppins', sans-serif;
    }
    
    .lista-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .titulos-footer:hover{
        color: white;
    }

    ul .a-footer:hover{
        color: #FF0D6D;
    }
    
    .a-footer{
        text-decoration: none;
        color: white;
        font-weight: 0;
    }
    
    .caja-logo-e-iconos-footer{
        display: block;
        width: 15%;
    }
    
    .logo-footer{
        width: 100%;
        display: flex;
        border-radius: 5px;
    }
    
    .grupo-iconos-footer{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .icono-footer{
        width: 2em;
        height: 2em;
        border-radius: 50%;
    }
    .description{
        display: block;
    }

/*---------------------carrito de compras-----------------------*/
    .infocompra, .products-com{
        width: 80%;
    }

    .price-cdc{
        width: 100%;
        text-align: center;
        margin: 10%;
        font-size: 100%;
        color: white;
    }


}
/*-------------------------profile_769---------------------------*/
.main_profile .containt_2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    padding: 3%;
    width: 100%;
    margin-top: 1rem;
    border-top: solid 1px #666;
}

.main_profile .general_course{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;      
    width: 100vw; 
    margin-left: -5vw;
    background-color: #00347A;  
}

.main_profile .img_background{
    margin: 0 auto;
    width: 100%;
    flex-grow: 0.5;
    padding: 0.5rem;
}
.main_profile .introduction{
    width: 100%;
    flex-grow: 0.5;
    padding: 0.5rem;
}

.main_profile .product_img_pd{
    width: 100%;
    height: 100%;
    margin: 0;
}

/*---------------------style productCart-----------------------*/
.mainCar{
    padding-top: 7%;
}
main section .products-com{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 23%;
}

main section .productos-products-com{
width: 100%;
background-color: rgba(0, 11, 31, 0.9);;
border: 1.5px solid #00DFEF;
box-shadow: 0px 0px 2px 2px #00DFEF;
color: white;
display: flex;
flex-wrap: wrap;
align-items: center;
box-shadow: none;
transition: width 2s, height 4s;
padding: 2%;
margin: 4%;
border-radius:15px;
-webkit-border-radius:15px;
-moz-border-radius:15px;
-ms-border-radius:15px;
-o-border-radius:15px;

}

main section article:hover{
    border: 1.5px solid #FF0D6D;
    box-shadow: 0px 0px 8px 2px #FF0D6D; 
}

.main-article-cdc{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

.headerinfocompra, .productosinfocompra, .totalinfocompra{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between; 
}

.infocompra{
    background-color: #000B1F;
    padding: 2%;
    border-radius: 10px;
    margin: 1%;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 23%;
    height: 25%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.btnadd{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    width: 30%;
    color: white;
    background-color: #000B1F;
    font-size: 1em;
    text-align: center;
    border-radius: 20px;
    margin: 0 auto;
    justify-content: space-around;
    padding: 8px;
    border: 1.5px solid #00DFEF;
    box-shadow: 0px 0px 2px 2px #00DFEF;
}

.title-cdc{
    width: 100%;
    text-align: center;
    margin: 10%;
    font-size: 100%;
    color: white;
}

.productCart-com{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}

.price-cdc{
    display:block;
}