<footer>
    <div class="grupo-listas-footer">
        <div class="lista-footer">
            <div class="titulos-footer">
                Lorem 1
            </div>
            <br>
            <ul>
                <li><a href="#" class="a-footer">Lorem ipsum dolor</a></li>
                <li><a href="#" class="a-footer">Lorem ipsum dolor</a></li>
                <li><a href="#" class="a-footer">Lorem ipsum dolor</a></li>
                <li><a href="#" class="a-footer">Lorem ipsum dolor</a></li>
            </ul>
        </div>
        <br>
        <div class="lista-footer">
            <div class="titulos-footer">
                Lorem 2
            </div>
            <br>
            <ul>
                <li><a href="#" class="a-footer">Lorem ipsum dolor</a></li>
                <li><a href="#" class="a-footer">Lorem ipsum dolor</a></li>
                <li><a href="#" class="a-footer">Lorem ipsum dolor</a></li>
                <li><a href="#" class="a-footer">Lorem ipsum dolor</a></li>
            </ul>
        </div>
        <br>
        <div class="lista-footer">
            <div class="titulos-footer">
                Lorem 3
            </div>
            <br>
            <ul>
                <li><a href="#" class="a-footer">Lorem ipsum dolor</a></li>
                <li><a href="#" class="a-footer">Lorem ipsum dolor</a></li>
                <li><a href="#" class="a-footer">Lorem ipsum dolor</a></li>
                <li><a href="#" class="a-footer">Lorem ipsum dolor</a></li>
            </ul>
        </div>
    </div>
    <br>
    <div class="caja-logo-e-iconos-footer">
        <a href="/"><img src="./images/logo-v2.2.png" alt="" class="logo-footer"></a>
        <br>
        <div class="grupo-iconos-footer">
            <a href="#"><img src="./images/logo-whatsapp.jpg" alt="" class="icono-footer"></a>
            <a href="#"></a><img src="./images/logo-facebook.png" alt="" class="icono-footer"></a>
            <a href="#"></a><img src="./images/logo-instagram.png" alt="" class="icono-footer"></a>
            <a href="#"></a><img src="./images/logo-twitter.jpg" alt="" class="icono-footer"></a>
        </div>
    </div>
</footer>