<header>
    <div class="header">
        <a href="/" class="a-logo-header"><img src="./images/logo-v2.2.png" alt="" class="logo-header"></a>
        
        <div class="barra-busqueda">
            <form method="GET" action="/search" class="form-input-busqueda">
                <input type="text" name="keywords" placeholder="Buscar. . ." class="input-busqueda">
                <button type="submit" class="button-busqueda"><i class="fas fa-search"></i></button>
            </form>
        </div>

        <div class="iconos-header">
            <a href="/"><i class="fas fa-home"></i></a>
            <% if(!locals.isLogged) { %>             
                <a href="/login"><i class="fas fa-sign-in-alt"></i></a>
            <% } else { %> 
                <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                <a href="/profile"><i class="fas fa-user"></i></a>
            <% } %> 
        </div>
    </div>
</header>