<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body  class="fondo-login-register">

        <%- include('../partials/header') %> 
        
        <main class="main-login">
            <form action="/" method="get">
                <div class="items-formulario">
                    <label>
                        Nombre:
                    </label>
                    <input type="text" name="nombre" placeholder="Nombre" class="item">
                </div>
                <div class="items-formulario">
                    <label>
                        Apellido:
                    </label>
                    <input type="text" name="Apellido" placeholder="Apellido" class="item">
                </div>
                <div class="items-formulario">
                    <label>
                        Email:
                    </label>
                    <input type="email" name="email" placeholder="example@email.com" class="item">
                    <p class="mensaje-alerta"></p>
                </div>
                <div class="items-formulario">
                    <label>
                        Contraseña:
                    </label>
                    <input type="password" name="contraseña" placeholder="Fulano123" class="item">
                </div>
                <div class="items-formulario">
                    <label>
                        Confirmacion contraseña:
                    </label>
                    <input type="password" name="contraseña" placeholder="Fulano123" class="item">
                </div>
                <div class="items-formulario">
                    <label>
                        Categoría
                    </label>
                    <div class="item-categorias">
                        <select name="Category" class="item-categorias2">
                            <option value="student" class="categoria-particular">Estudiante</option>
                            <option value="teacher" class="categoria-particular">Profesor</option>
                        </select>
                        
                    </div>
                </div>
                <div class="items-formulario">
                    <label>
                        Imagen
                    </label>
                    <div class="userImage">
                        <input type="file" name="usertImage" class="item-productImage">
                    </div>
                    
                </div>
                <div class="items-formulario">
                    <button type="submit" class="button-enviar-borrar"> Crear cuenta </button>
                </div>            
                <div class="caja-link-login">
                    <span class="link-login">¿Ya tienes cuenta? </span><a href="/login" class="link-login-2">Iniciar sesión</a>
                </div>
            </form>
        </main>
        
        <%- include('../partials/footer') %>
        
    </body>
</html>